div {
  box-sizing: border-box;
}




.contener {
  width: 100%;
  height: 100%;
  background-color: lightgreen;
}

.logo{
  float:left;
  width: 20%;
  height: 100px;
  background: red;
  padding: 5px;
}

.nav{
  float:left;
  width: 80%;
  height: 100px;
  background: purple;
  padding: 5px;
}

.search{
  float:left;
  width: 100%;
  height: 100px;
  background: green;
  padding: 5px;
}

.side-bar{
  float:left;
  width: 20%;
  height: 300px;
  background: blue;
  padding: 5px;
}

.content{
  float:left;
  width: 80%;
  height: 600px;
  background: yellow;
  padding: 5px;
}

.footer{
  float:left;
  width: 100%;
  height: 70px;
  background: black;
  padding: 5px;
}

.inner-box{
  box-sizing:padding-box;
  width: 100%;
  height: 100%;
  background-color: lightblue;
}
